<head></head>
<body>
  <p><strong>title:</strong></p>
  <%= @book.title %>
  <p><strong>body:</strong></p>
  <%= @book.body %>
  <a class="edit_19845" href="/books/19845/edit">Edit</a>-->
  <a class="back" href="/books">Back</a>-->
</body>